.dialText {
  text-align: center;
  font-weight: bold;
}

.descrText {
  text-align: center;
  font-weight: bold;
}

.w1trText {
  text-align: center;
}

.alert-danger {
  text-align: center;
  font-weight: bold;
}

.radioGroup {
  padding-top: 30%;
  width: 50%;
  margin: auto;
}
